{% extends 'base.html'%}
{% load static %}

  {% block content%}
  <div class="bg-img">
    <h1 class="landing-header title-font">WELCOME TO SAMSHINE MUSIC LIBRARY</h1>
    <div>
      <!-- REGISTER BUTTON -->
      <a href="http://127.0.0.1:8000/accounts/register" class="nounderline"><button type="button" class="btn btn-dark btn-format btn-text">Register</button></a>
      <!-- LOGIN BUTTON -->
      <a href="http://127.0.0.1:8000/accounts/login" class="nounderline"><button type="button" class="btn btn-dark btn-format btn-text">Log-In</button></a>
    </div>
</div>
{% endblock%}
