<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary nav-format">

    <div class="container-fluid nav-format">
      <a class="navbar-brand" href="http://127.0.0.1:8000/home" class="">SamShine</a>
  
      <div class = "d-flex justify-content-between">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/update_profile">Update Profile</a>
        </li>
           
        <li class="nav-item">
          <a class="nav-link nav-margin" href="http://127.0.0.1:8000/logout">Logout</a>
        </li>
      </div>
    </div>
  
  </nav>